@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1>Yazarın Blogları</h1>
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Blog Başlığı</th>
                    <th>Oluşturma Tarihi</th>
                    <th>Kategori</th>
                    <th>Durum</th>
                    <th>Sil</th>
                    <th>Düzenle</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BlogID</td>
                        <td>@item.BlogTitle</td>
                        <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
                        <td>
                            <span class="badge badge-info">@item.Category.CategoryName</span>
                        </td>
                        <td>
                            @if (item.BlogStatus)
                            {
                                <span class="badge badge-success">Aktif</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">Pasif</span>
                            }
                        </td>
                        <td>
                            <!--Sil modal Butonu-->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Sil_@item.BlogID">
                                Sil
                            </button>

                            <!--Modal-->
                            <div class="modal fade" id="Sil_@item.BlogID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Blog Sil</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Bloğu silmek istiyor musunuz?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info mx-4" data-dismiss="modal">Vazgeç</button>
                                            @Html.ActionLink("Sil", "DeleteBlog", new { id = @item.BlogID }, new { @class = "btn btn-danger mx-4" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
                    </tr>
                }
            </table>
            <br />
            <a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>
        </div>
    </div>
</div>
