@model List<RoleAssignViewModel>

@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Kullanıcı Rolleri</h5>
                </div>
                <div class="ibox-content">
                    <form method="post">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="form-check">
                                <input type="hidden" asp-for="@Model[i].RoleID" />
                                <input type="hidden" asp-for="@Model[i].Name" />
                                <input type="checkbox" asp-for="@Model[i].Exists" class="form-check-input" />
                                <label class="form-check-label" for="@Model[i].Exists">@Model[i].Name</label>
                            </div>
                        }
                        <br />
                        <button class="btn btn-info">Değişiklikleri kaydet</button>
                    </form>
                    <br />
                </div>
            </div>
            <a href="/Admin/AdminRole/UserRoleList/" class="btn btn-primary">Kullanıcı Listesine Dön</a>
        </div>
    </div>
</div>